---
---

@import "{{ site.theme }}";

// https://cssgradient.io for gradient

a {
  color: rgb(3, 102, 214);
}

a:hover {
  color: rgb(3, 102, 214);
  text-decoration: underline;
}

footer a {
  color: rgb(3, 102, 214);
  font-size: 1.15em;
}

footer a:hover {
  color: rgb(3, 102, 214);
  text-decoration: underline;
  font-size: 1.15em;
}

header h1 {
  font-size: 32px;
}

header {
  padding-bottom: 1px;
}

ul,ol {
  margin-left: 2.5rem;
}

ul li, ol li {
  padding-left: 0px;
}

ol li {
  font-weight: 300;
}
